/*CONTAINER CENTRAL*/
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/*TÍTULOS*/
h1, h2 {
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/*FORMULÁRIOS*/
input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/*BOTÕES*/
button {
  background: #4CAF50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  margin: 5px;
}

button:hover {
  background: #45a049;
}

/*LISTA*/

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #fafafa;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
}

li strong {
  color: #333;
}

li button {
  background: #e53935;
}

li button:hover {
  background: #c62828;
}
